{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!-- HERO -->
<section class="hero is-medium is-link">
  <div class="hero-body">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-5">
        <!-- HERO CONTENT -->
        <div class="tile is-ancestor">
          <div class="tile is-6 is-vertical is-parent">
            <div class="tile is-child">
              <p class="title">
                {{ page.hero_title }}
              </p>
              <p class="subtitle is-child">
                {{ page.hero_subtitle }}
              </p>
            </div>
            <div class="tile is-child">
              <div class="level">
                <div class="level-left">
                  <a href="https://github.com/ben-hampson" target="_blank">
                    <span class="icon" style="font-size: 2em;">
                      <i class="fab fa-github"></i>
                    </span>
                  </a>
                  <a href="https://twitter.com/bhampson" target="_blank">
                    <span class="icon ml-3" style="font-size: 2em;">
                      <i class="fab fa-twitter"></i>
                    </span>
                  </a>
                  <a href="https://www.linkedin.com/in/ben-hampson/" target="_blank">
                    <span class="icon ml-3" style="font-size: 2em;">
                      <i class="fab fa-linkedin"></i>
                    </span>
                  </a>
                </div>
                <div class="level-right">
                  <a href="{% slugurl 'contact-me' %}">
                    <button class="button is-white"><strong>Contact Me</strong></button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-2"></div>
          <div class="tile is-4 is-child">
            <img src="{{ page.hero_photo.url }}" alt="">
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>  
  </div>
  </section>
    
  {{ page.body|richtext }}

  <section class="section has-background-light">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-6">
        <div class="container">
          <h2 class="title is-3">Projects</h2>
          <div class="columns is-multiline">
            {% for article in featured_articles %}
              <div class="column is-one-third">
                <article class="media notification is-info">
                  <!-- <figure class="media-left">
                    <span class="icon is-medium">
                      <i class="fab fa-2x fa-css3-alt"></i>
                    </span>
                  </figure> -->
                  <div class="media-content">
                    <div class="content">
                      <h1 class="title is-size-5">
                        <a href="{% slugurl article.slug %}" class="">{{ article.title }}</h1></a>
                      <p class="">
                        {{ article.intro }}
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </section>

{% endblock %}