{% load static wagtailuserbar %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <script src="https://kit.fontawesome.com/dd9c3a3d41.js" crossorigin="anonymous"></script>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    
    <body class="{% block body_class %}{% endblock %}">
        
        <!-- NAVBAR START -->
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <h1 class="title is-3">Ben Hampson</h1>
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a href="{% slugurl 'projects' %}" class="navbar-item">
                  Projects
                </a>
                <a href="{% slugurl 'articles' %}" class="navbar-item">
                  Articles
                </a>
              </div>
          
              <div class="navbar-end">
                <a href="{% slugurl 'about-me' %}" class="navbar-item">
                  About Me
                </a>
                <div class="navbar-item">
                  <div class="buttons">
                    <a href="{% slugurl 'contact-me' %}" class="button is-primary">
                      <strong>Contact Me</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        <!-- NAVBAR END -->

        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <!-- FOOTER START -->

        <footer class="footer">
            <div class="content has-text-centered">
              <p>
               Built with <strong><a href="https://www.djangoproject.com/" target="_blank">Django</a></strong> and <strong><a href="https://wagtail.io/" target="_blank">Wagtail</a></strong>. Theming from <strong><a href="https://bulma.io" target="_blank">Bulma</a></strong>.</br>
               <a href="https://github.com/Ben-Hampson/My-Website"><strong>Source code</strong></a>.
              </p>
            </div>
          </footer>

        <!-- FOOTER END -->
    </body>

</html>
