{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <section class="hero is-info is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">{{ page.title }}<br>
                <h2 class="subtitle">{{ page.intro|richtext }}</h2>
            </div>
        </div>
    </section>


    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <div class="columns is-multiline">

                {% for post in blogpages %}
                    {% with post=post.specific %}  

                        <div class="column is-one-third">
                            <div class="card">
                                <div class="card-image">
                                    <a href="{% pageurl post %}">
                                        <figure class="image is-4by3">
                                            {% with post.main_image as main_image %}
                                                {% if main_image %}{% image main_image fill-1280x960 %}{% endif %}
                                            {% endwith %}
                                        </figure>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <a href="{% pageurl post %}"><p class="title is-5">{{ post.title }}</p></a>
                                        </div>
                                    </div>
                                
                                    <div class="content">
                                        <p>{{ post.intro }}</p>
                                        <p>{{ post.date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}