{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    

    <!-- ==================================================================== -->

<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title"><h1 class="title is-3">{{ page.title }}</h1></p>
                            <p class="subtitle is-6"><i>{{ page.subtitle }}</i></p>
                        </div>
                    </div>
                    <div class="content article-body">
                        
                        <!-- ARTICLE BODY -->
                        {{ page.body|richtext }}

                        <!-- STREAMFIELDS TEST -->
                        {% for block in page.content %}
                            {% include_block block %}
                        {% endfor %}

                        <section class="articles">
                                <div class="columns is-multiline">

                                    {% for project in projectpages %}
                                        {% with project=project.specific %}  

                                            <div class="column is-one-third">
                                                <div class="card">
                                                    <div class="card-image">
                                                        <a href="{% pageurl project %}">
                                                            <div class="image is-16by9">
                                                                {% with project.banner_image as banner_image %}
                                                                    {% if banner_image %}{% image banner_image max-400x300 %}{% endif %}
                                                                {% endwith %}
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="media">
                                                            <div class="media-content">
                                                                <a href="{% pageurl project %}"><p class="title is-5">{{ project.title }}</p></a>
                                                            </div>
                                                        </div>
                                                    
                                                        <div class="content">
                                                            <p>{{ project.intro }}</p>
                                                            <p>{{ project.date }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        {% endwith %}
                                    {% endfor %}

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
        </div>
    </section>
</div>

{% endblock %}